*.pack filter=lfs diff=lfs merge=lfs -text
자율PJT_구미_1반_D101_시연시나리오(포팅메뉴얼).zip filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.{zip,jar,apk} filter=lfs diff=lfs merge=lfs -text
